unGit/

# LaTeX
delete-temp-files.bat
*.aux
*.lof
*.log
*.lot
*.out
*.gz
*.toc
*.nav
*.snm
*.bbl
*.blg

# MATLAB
*.asv
*.slxc
*.r20*
slprj/

# Python
__pycache__/

# VScode
.vscode/

*.gif
*.avi
*.mp4
